.dropdownBody {

}

.dropdownHiddenBody {
    border: 1px solid var(--ifm-color-emphasis-200);
    border-radius: 0.5rem;
    width: 100%;
    padding: 0 .5rem;
}

.dropdownHeader {
    padding: 0 .25rem;
    font-weight: 400;
    font-size: .9rem;
    cursor: pointer;
}
