.root {
  display: block;
  position: relative;
  padding: 2rem 1rem 1.5rem;
  margin-bottom: 1rem;
  border-left: 8px solid #F5D73D;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  & > * {
    &:first-child {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc((100% - 25px) + 1px);
      border-top: 1px solid var(--ifm-color-emphasis-200);
      border-right: 1px solid var(--ifm-color-emphasis-200);
    }
    &:nth-child(2) {
      position: absolute;
      bottom: 0;
      left: 0;
      width: calc((100% - 25px) + 1px);
      height: 25px;
      border-bottom: 1px solid var(--ifm-color-emphasis-200);
    }
    &:last-child {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  & a {
    background-color: var(--ifm-color-emphasis-900);
    border-radius: 2rem;
    color: var(--ifm-color-emphasis-0);
    height: fit-content;
    padding: .25rem .75rem;
    font-weight: 600;
    font-size: .9em;
    display: flex;
    align-items: center;
    gap: 4px;
    &:hover {
      background-color: var(--ifm-color-primary);
      text-decoration: none;
    }
    & svg {
      margin-top: 2px;
      fill: var(--ifm-color-emphasis-0);
    }
  }
}

.severity {
  & h3 {
    font-weight: bold;
    margin-bottom: .5rem;
    color: var(--ifm-color-emphasis-900);
    font-size: 1.8em;
    letter-spacing: 1px;
    text-transform: capitalize;
  }
  & b {
    font-size: .9em;
    line-height: var(--ifm-line-height-base);
  }
}

hr {
  width: 48px;
}

.content {
  display: flex;
  font-size: .9em;
  line-height: var(--ifm-line-height-base);
  & div {
    width: 50%;
  }
  & b {
    display: block;
    margin-bottom: 0.5rem;
  }
  & ul {
    padding-left: 1ch;
    margin: 0;
    & li {
      padding-inline-start: 1ch;
      list-style-type: '•';
      margin: 0;
    }
  }
  & p {
    margin: 0;
  }
}