.root {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
  // @media (min-width: 600px) {
  //   grid-template-columns: repeat(2, 1fr); 
  // }
  // @media (min-width: 900px) {
  //   grid-template-columns: repeat(3, 1fr); 
  // }
}