.root {
  position: relative;
  padding: 2rem 1rem 1.5rem;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  & > * {
    &:first-child {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc((100% - 25px) + 1px);
      border-top: 1px solid rgba(219,221,225, 0.5);
      border-left: 1px solid rgba(219,221,225, 0.5);
      border-right: 1px solid rgba(219,221,225, 0.5);
    }
    &:nth-child(2) {
      position: absolute;
      bottom: 0;
      left: 0;
      width: calc((100% - 25px) + 1px);
      height: 25px;
      border-bottom: 1px solid rgba(219,221,225, 0.5);
      border-left: 1px solid rgba(219,221,225, 0.5);
    }
    &:last-child {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.title {
  text-align: center;
  
  & p {
    margin-bottom: 8px;
    font-size: 11px;
    font-weight: 700;
  }

  & span {
    font-size: 16px;
    font-weight: 700;
  }

  & hr {
    width: 48px;
    margin: 16px auto;
  }
}

.content {
  & ul, & ol {
    padding-left: 1ch;
  }
  & ul li {
    padding-inline-start: 1ch;
    list-style-type: '•';
    &::marker {
      color: var(--ifm-color-primary);
    }
  }
}