.root {
  display: flex;
  flex-direction: column;
}

.settings {
  overflow: hidden;
  opacity: 0;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  transform: rotateX(-90deg);
  transform-origin: top center;
  &.active {
    opacity: 1;
    transform: rotateX(0);
  }
}